@if (Article == null)
{
    <p>Loading...</p>
}
else
{
    <div class="border">
        <img src="@Article.Image_url" /><br />
        <b>@Article.Title</b><br />
        @Article.DescriptionBrief
    </div>
}


@code {
    [Parameter]
    public Article Article { get; set; }
}




