<div>
    <p><b>Company Name: </b>@Info.Name</p>
    <p><b>Country: </b>@Info.Country</p>
    <p><b>Industry: </b>@Info.Industry</p>
    <p><b>Sector: </b>@Info.Sector</p>
</div>

@code {
    [Parameter]
    public StockInfoDto Info { get; set; }
}