<div class="saved">
    @if (Processing)
    {
        <img class="saved" src="loading.gif" />
    }
    else if (IsSaved)
    {
        <p><b>Remove from saved stocks:</b></p>
        <img class="saved" src="cross.ico" @onclick="Toggle" />
    }
    else
    {
        <p><b>Add to saved stocks:</b></p>
        <img class="saved" src="plus.ico" @onclick="Toggle" />
    }

</div>

@code {
    [Parameter]
    public bool Processing { get; set; }

    [Parameter]
    public bool IsSaved { get; set; }

    [Parameter]
    public EventCallback Toggle { get; set; }
}
